[alias]
   # Replace HEAD with a new commit that includes both existing and currently staged changes.
   amend = commit --amend

   # Pretty-print log with DAG (see: https://coderwall.com/p/euwpig/a-better-git-log)
   lg = log --color --graph --format='%C(auto)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)(%cr) %C(bold blue)%an <%aE>%C(reset)'

   # Show pending changes
   staged   = diff --cached
   unstaged = diff
   pending  = diff HEAD

   # Undo the last commit and keep changes in working directory
   undo = reset --mixed HEAD~1

   # Show branch merge status
   merged   = branch --merged
   unmerged = branch --no-merged
[init]
   templatedir = ~/.git-template
[push]
   default = simple
[rebase]
   autostash = true
[user]
   email = trevor.pounds@gmail.com
   name = Trevor Pounds
