.private*
.Private*

# ignore archives
*.ear
*.jar
*.rar
*.tar
*.tar.bz2
*.tb2
*.tbz
*.tbz2
*.tar.gz
*.tgz
*.tar.lzma
*.tar.lz
*.tlz
*.tar.xz
*.txz
*.war
*.zip

# ignore binaries
*.bin
*.dll
*.exe
a.out
*.so*

# ignore documents
*.doc
*.docx
*.odp
*.ods
*.odt
*.pdf
*.ppt
*.pptx
*.xls
*.xlsx

# ignore images
*.bmp
*.gif
*.jpg
*.png
*.xcf

# ignore media
*.avi
*.flac
*.flv
*.m4a
*.mkv
*.mov
*.mp3
*.mp4
*.ogg
*.wav

# ignore perforce since I live in the stone age.
# see: http://sadtrombone.com/?play=true
.gitp4-usercache.txt
.p4enviro
.p4tickets

# ignore vim
*.swo
*.swp
*.viminfo

# ignore zsh
.zcompdump
.zsh*history
