[alias]
   # Replace HEAD with a new commit that includes both existing and currently staged changes.
   amend = commit --amend

   # Update commit message with a suitable rebase --autosquash prefix.
   fixup  = commit --fixup
   squash = commit --squash

   # Pretty-print log with DAG (see: https://coderwall.com/p/euwpig/a-better-git-log)
   lg = log --all --color --date-order --graph --format='%C(auto)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)(%cr) %C(bold blue)%aN <%aE>%C(reset)'

   # Show pending changes
   staged   = diff --cached
   unstaged = diff
   pending  = diff HEAD

   # Search for work to do
   todo = grep -i -e '\\bFIXME\\b' -e '\\bNOTE\\b' -e '\\bTODO\\b' -e '\\bXXX\\b'

   # Undo the last commit and keep changes in working directory
   undo = reset --mixed HEAD~1

   # Show branch merge status
   merged   = branch --merged
   unmerged = branch --no-merged
[commit]
   verbose = true
[diff]
   algorithm = histogram
[init]
   templatedir = ~/.git-template
[log]
   follow = true
[merge]
   ff = no
[push]
   default = simple
[rebase]
   autosquash = true
   autostash = true
[user]
   email = trevor.pounds@gmail.com
   name = Trevor Pounds
